<div class="container mt-3 col-md-6 offset-md-3">
  {{productFormGroup.controls['price'].errors | json}}
  <form [formGroup]="productFormGroup" (ngSubmit)="handelAddProduct()">
    <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" formControlName="name" class="form-control">
      <small *ngIf="productFormGroup.controls['name'].errors && productFormGroup.controls['name'].touched" class="text-danger">
        {{prodServise.getErrorMessage('Name',productFormGroup.controls['name'].errors)}}

      </small>
    </div>
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input type="text" formControlName="price" class="form-control">
      <small *ngIf="productFormGroup.controls['price'].errors && productFormGroup.controls['price'].touched" class="text-danger">
        {{prodServise.getErrorMessage('Price',productFormGroup.controls['price'].errors)}}
      </small>
    </div>
    <div class="mb-3">
      <label class="form-label">Promotion</label>
      <input type="checkbox" formControlName="promotion" class="form-check">
    </div>
    <div class="mb-3">
      <label class="form-label">Description</label>
      <input type="text" formControlName="description" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Image</label>
      <input type="file" formControlName="image" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Quantity</label>
      <input type="text" formControlName="quantity" class="form-control">
    </div>
    <button [disabled]="productFormGroup.invalid" class="btn btn-info" type="submit">Save</button>
  </form>
</div>
